In [7]:
import requests
from bs4 import BeautifulSoup
import sqlite3
import time

url = "https://www.data.jma.go.jp/stats/etrn/view/daily_s1.php?prec_no=46&block_no=47670&year=2023&month=12&day=&view="

r  = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')
rows = soup.find_all('tr', class_='mtx')

rows = rows[3:]
data = []

for row in rows:
    weather = row.find_all('td')
    if len(weather) >= 1:
        date = weather[0].text.strip()
        temperature = weather[6].text.strip()
        data.append((date, temperature))
        
for date, temperature in data:
    print(f"{date}: {temperature}")

1: 9.4
2: 9.2
3: 9.7
4: 9.9
5: 8.5
6: 11.9
7: 14.7
8: 12.8
9: 13.4
10: 13.6
11: 13.7
12: 12.5
13: 11.9
14: 10.9
15: 12.9
16: 19.3
17: 11.7
18: 7.6
19: 7.6
20: 9.4
21: 7.9
22: 6.0
23: 6.0
24: 5.8
25: 7.5
26: 8.4
27: 8.8
28: 8.1
29: 8.8
30: 9.8
31: 9.6

In [11]:
db_name = 'weather.sqlite'

con = sqlite3.connect(db_name)
cur = con.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS weathers(
                date TEXT,
                temperature REAL
                )''')

sql_insert = '''INSERT INTO weathers(
                date, temperature)
                VALUES (?, ?)'''

cur.executemany(sql_insert, data)

con.commit()

con.close()